@font-face {
    font-family: 'MOMCAKE';
    src: url('MOMCAKE-Bold.eot');
    src: url('MOMCAKE-Bold.eot?#iefix') format('embedded-opentype'),
        url('MOMCAKE-Bold.woff2') format('woff2'),
        url('MOMCAKE-Bold.woff') format('woff'),
        url('MOMCAKE-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MOMCAKE';
    src: url('MOMCAKE-Thin.eot');
    src: url('MOMCAKE-Thin.eot?#iefix') format('embedded-opentype'),
        url('MOMCAKE-Thin.woff2') format('woff2'),
        url('MOMCAKE-Thin.woff') format('woff'),
        url('MOMCAKE-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

