<template>
    <div>
        <nav class="navbar">
            <div class="navbar--logo">
                discovermovies
            </div>
            <div class="navbar--items">
                <nuxt-link to="" class="navbar--button">
                    Peliculas
                </nuxt-link>
                <nuxt-link to="" class="navbar--button">
                    Actores
                </nuxt-link>
                <div class="navbar--input">
                    <div>
                        <label>
                            Ej. inception
                        </label>
                        <span class="icono"></span>
                    </div>
                </div>
            </div>
            <div class="navbar--icon">
                <span>X</span>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'Nav'
}
</script>

<style lang="scss">
.navbar {
    @apply flex w-full py-2 px-6;
    background-color: $primary-color;

    .navbar--logo {
        @apply text-3xl;
        @include secondary-bold;
    }

    .navbar--items {
        @apply flex w-full justify-end;

        .navbar--button,
        .navbar--input {
            @apply flex items-center justify-center cursor-pointer ml-4;
            min-width: 140px;

        }

        .navbar--button {
            @apply text-xl relative;

            &:hover{
                &:after{
                    content: '';
                    @apply absolute bg-white;
                    bottom: 5px;
                    width: 80%;
                    height: 1px;
                }
            }
        }

        .navbar--input{
            
            div{
                @apply border-solid border rounded-full font-light py-1 px-4;

                label{
                    @apply pr-16 cursor-pointer;
                }

                &:hover{
                    @apply bg-purple-900;
                }
            }
        }
    }
}
</style>