<template>
  <div>
    <Nav></Nav>
    <nuxt />
  </div>
</template>

<script>
import Nav from '../components/Nav'

export default {
  components:{
    Nav
  }
}
</script>

<style lang='scss'>

</style>
