// Fonts
@mixin primary-light{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
@mixin primary-regular{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
@mixin secondary-regular{
    font-family: 'MOMCAKE', serif;
    font-weight: normal;
}
@mixin secondary-bold{
    font-family: 'MOMCAKE', serif;
    font-weight: bold;
}


// Colors
$primary-color: #211B29;
$background-color: #211B29;
$font-color: #fff;
$font-color-disabled: #808080;


// Gradients
@mixin gradient-corner{
    background: linear-gradient(150deg, rgba(33,27,41,1) 0%, rgba(68,37,108,1) 100%);
}
@mixin gradient-top{
    background: linear-gradient(0deg, rgba(33,27,41,1) 0%, rgba(68,37,108,1) 100%);
}
@mixin gradient-bottom{
    background: linear-gradient(180deg, rgba(33,27,41,1) 0%, rgba(68,37,108,1) 100%);
}